.addPostCont {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.addPostCont > form {
	height: 50%;
	width: 30%;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
	box-shadow: 0.3pc 0.3pc 1pc gray;
}

form > h1 {
	width: 100%;
	text-align: center;
}
form > input {
	height: 2rem;
	padding: 0 1rem;
	border: none;
	border-bottom: 1px solid gray;
	outline: none;
}

.submit {
	border: none;
	outline: none;
	background-color: rgba(240, 172, 18, 0.8);
	border-radius: 5px;
	cursor: pointer;
}

@media all and (max-width: 1250px) {
	.addPostCont > form {
		width: 40%;
	}
}
@media all and (max-width: 900px) {
	.addPostCont > form {
		width: 50%;
	}
}

@media all and (max-width: 800px) {
	.addPostCont > form {
		width: 50%;
	}
}

@media all and (max-width: 700px) {
	.addPostCont > form {
		width: 70%;
	}
}
