.postDetailsCont {
	width: 100vw;
	height: 100%;
	display: flex;
	padding: 1rem 4rem;
	flex-direction: column;
	gap: 2rem;
}

.box {
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
}

.box > h1 {
	font-size: 4rem;
	width: 80%;
	border-bottom: 1px solid gray;
}
.box > .postNum > b,
.box > .postBody > b,
.box > .postTitle > b {
	font-size: 1.6rem;
	font-weight: 500;
}

.comments {
	font-size: 1.3rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
}
.comments > h1 {
	font-size: 4rem;
	width: 80%;
	border-bottom: 1px solid gray;
}

@media all and (max-width: 800px) {
	.box > h1 {
		font-size: 3rem;
		width: 100%;
	}
	.comments > h1 {
		font-size: 3rem;
		width: 100%;
	}
}

@media all and (max-width: 550px) {
	.postDetailsCont {
		padding: 1rem 2rem;
	}
}

@media all and (max-width: 400px) {
	.postDetailsCont {
		padding: 1rem 1rem;
	}
}
